*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-image: url(background\ \(1\).jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: whitesmoke;
   padding: 10px;
}
.header{
    position: sticky;    
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:  100;
}
.body1{
    text-align: center;
    font-size: larger;
    font-weight: 800;
    border-radius: 70px;
    padding-top: 20px;
}
.word{
    font-size: 100px;
    letter-spacing: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}
.body1 p{
    font-size: 40px;
    font-family: Times, 'Times New Roman', serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: azure;
}
.body1 p a{
    color: skyblue;
    opacity: 0.3;
    text-decoration: none;
}
.body1 p a:hover{
    text-decoration: underline;
    color: burlywood;
    border: 10px dashed rgba(189, 96, 8, 0.831);
    opacity: 2;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 650;
}
.navbar a{
    text-transform: uppercase;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .9s;
}
.navbar a:hover,
.navbar a:active{
    color:pink;
}
button{
    margin-top: 20px;
    background: yellow;
    height:50px;
    width: 300px;
    font-size: larger;
    font-weight: 550;
    border-radius: 10px;
    border: 2px solid;
    color:black;
}
button:hover{
    cursor: pointer;
    font-weight: 900;
 border: none;
    font-family: sans-serif;
    box-shadow:  0 0 200px red;
}
.image{
    position: sticky;
    top: 88px;
    right: 0;
    width: 3px;
   
}
footer{
   cursor: default;
   width: 99%;
   /* margin-top: 7dvh; */
   font-size: 25px;
   background-color: grey;
}

footer a{
   text-decoration: none;
   border-radius: 2px;
   font-size: large;
   color:blue;
}
.copyright{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   position: sticky;
   margin-left: 1200px;
   width: fit-content;
   justify-content: end;
   opacity: .4;
}
@media screen and ( max-width:768 ) {
    body{

    }
}